*{
    margin: 10;
    }

main {
    width: 68%;
    background-color: #77b0c4
    background-size: cover;
    text-align: justify;
    padding-top: 20px;
    border-width: 10px;
    border-color:rgb(152, 223, 205);
    border-style:solid;
    padding: 40px;
}

header {
    size: 200px;
    background-size: 300px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(224, 228, 11);
}

menu {
    background-color:rgb(226, 218, 108);
    text-decoration: none;
}

nav {
    color:aliceblue;
    text-align:inherit;
    background-color: #96BAE3;
    padding: 20px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    color: red;
}

nav ul li a {
    color: rgb(16, 90, 86);
    text-decoration: none;
}

h2{
    background-repeat: no-repeat;
    border-image-source: -moz-radial-gradient(10px);
    align-items: center;
}

form{
    text-align: justify;
}

div {
     
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
}

footer {
    background-color: rgb(18, 139, 123);
    text-align: center;
}

p {
    text-align: center;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

h3{
    text-align: center;
}

#lado{
    width: 20%;
    height: 100%;
   font-size: medium;
   font-style: italic;
   text-align: center;
   color: rgb(228, 225, 80);
   float: right;
   position: absolute;
   top:1%;
   left: 0p%;
   bottom: 90%;
   left: 78%;
   border-style: solid;
   border-color: rgb(228, 225, 80);
   padding-top: 10%;
   padding-bottom: 50%;
}

table{
    border: 5px solid rgb(18, 139, 123);
    font-size: 10px;
}

td{
    font-size:20px;
    padding-bottom: 25px;
    padding-left:20px;
    padding-right:20px;
    padding-top:25px;
    border: none;
    text-align: justify;
}

th{
    color: rgb(18, 139, 123);
    font-size:20px;
    padding-bottom: 25px;
    padding-left:20px;
    padding-right:20px;
    padding-top:25px;
    border: none;
    text-align: center;
}